<script setup>
import { computed, ref } from 'vue';

const name = ref('Alvaro Villanueva');
const styleColor = 'color:blue';
const arrayColores = ['rojo', 'azul', 'peru'];
const estado = true;

const favoritos = ref([]);

const frutas = [
  {
    name: "Manzana",
    price: "$1.00",
    description: "Una manzana",
    icono: "🍎",
    stock: 0,
    id:1
  },
  {
    name: "Pera",
    price: "$2.00",
    description: "Una pera",
    icono: "🍐",
    stock: 10,
    id: 2
  },
  {
    name: "Naranja",
    price: "$3.00",
    description: "Una naranja",
    icono: "🍊",
    stock: 20,
    id: 3
  },
];

const persona = {
  id: 1,
  nombre: 'Alvaro',
  edad: 22,
  estado: estado ? 'programando' : 'durmiendo'
}

const counter = ref(0);

function incrementar() {
  counter.value++;
}

function decrementar() {
  counter.value--;
}

function resetear() {
  counter.value = 0;
}

function add() {
  favoritos.value.push(counter.value);
}

const bloquearBtnAdd = computed(() => {
  const numSearch = favoritos.value.find(num => num === counter.value);
  return numSearch || numSearch === 0;
})

const classCounter = () => {
  if (counter.value === 0) {
    return 'zero';
  }
  return counter.value > 0 ? 'positivo' : 'negativo'
}

// métodos - methods
const handleClick = (mensaje) => {
  console.log(mensaje)
}

function greet(e) {
  alert(`Hola ${name.value}`)
  if (e) {
    alert(e.target.tagName)
  }
}

</script>

<template>
  <h1>Hola {{ name.toUpperCase() }}</h1>
  <h2 :style="styleColor">Color azul</h2>
  <p>{{ arrayColores }}</p>
  <h3 :style="`color:${arrayColores[2]}`">Soy peru</h3>
  <h4 v-if="estado">Estoy activo</h4>
  <h4 v-else-if="estado===false">Estoy inactivo</h4>
  <h4 v-else>Estoy indeciso</h4>
  <h5 v-show="estado">Estoy inactivo v-show</h5>
  
  <!-- Arrays -->
  <ul>
    <li v-for="(fruta,index) in frutas" :key="fruta.id">
      {{ fruta.icono }} {{ fruta.name }} - {{ fruta.description }} - {{ fruta.price }}
    </li>
  </ul>
  <!-- Objetos -->
  <ul>
    <li v-for="(value, key, index) in persona" :key="index">
      {{ index }} - {{ key }} : {{ value }}
    </li>
  </ul>
  <!-- v-for y v-if -->
  <ul>
    <template v-for="fruta in frutas" :key="fruta.id">
      <li v-if="fruta.stock > 0">
        {{ fruta.icono }} {{ fruta.name }} - {{ fruta.price }} - Stock: {{ fruta.stock }}
      </li>
    </template>
  </ul>

  <button @click="incrementar">Incrementar</button>
  <button @click="resetear">Resetear</button>
  <button @click="decrementar">Decrementar</button>
  <p :class="classCounter()">{{ counter }}</p>

  <button @click="add" :disabled="bloquearBtnAdd">Add</button>
  <br>
  {{ favoritos }}

  <ul>
    <li v-for="(num, index) in  favoritos" :key="index">
      {{ num }}
    </li>
  </ul>

</template>

<style>
  h1{
    color: crimson;
    text-decoration: underline;
    text-shadow: crimson 2px 4px 10px;
  }
  .positivo{
    color: limegreen;
  }
  .negativo{
    color: crimson;
  }
  .zero{
    color: #f2f2f2;
  }
</style>